<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.scrumDatabaseConnectionString"
            connectionString="Data Source=tcp:tyoajanlaskentasovellus.database.windows.net;Initial Catalog=scrumDatabase;Persist Security Info=True;User ID=ScrumTiimi;Password=Point2018!;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>