@{
    ViewBag.Title = "Testi";
}

@section scripts {
    <script type="text/javascript">
        function päivitäHenkilölista() {

            $.getJSON("/Home/HaeKaikkiHenkilot", null, function (json) {
                var henkilot = JSON.parse(json);

                console.log(json); // selaimen f12-työkalut, valitse console ja katso mitä tapahtuu
                console.log(henkilot);

                var henkilotTaulukko = "";

                for (var i = 0; i < henkilot.length; i++) {
                    henkilotTaulukko += "<tr>" +
                        "<td>" + henkilot[i].HenkiloId + "</td>" +
                        "<td>" + henkilot[i].Etunimi + "</td>" +
                        "<td>" + henkilot[i].Sukunimi + "</td>" +
                        "</tr>\r\n";
                }

                $("#henkilötListana tbody").html(henkilotTaulukko);

                $("#henkiloModallisaaUusiHenkiloButton").click(function () {

                    //tyhjennetään ikkunan tiedot
                    $("#henkiloModal_HenkiloID").val(("uusi"));
                    $("#henkiloModal_Etunimi").val("");
                    $("#henkiloModal_Sukunimi").val("");
                    $("#henkiloModal_Osoite").val("");
                    $("#henkiloModal_Esimies").val("");

                    $("#henkiloModalTitle").text("Lisää uusi henkilö");
                    $("#henkiloModalDialog").modal("show");
                });
            });
        }

        $(function () {  // sivun alustaminen, voisi olla myös näin: $(document).ready(function () {
            päivitäHenkilölista();
        });

    </script>
}

<button class="btn btn-info" id="henkiloModallisaaUusiHenkiloButton">Lisää uusi</button>
<h2>Henkilöt</h2>

<p>Listattuna kuten ohjelmoinnin jatkokurssilla tehtiin.</p>
<table class="table table-striped" id="henkilötListana">
    <thead>
        <tr>
            <th>HenkilöId</th>
            <th>Etunimi</th>
            <th>Sukunimi</th>
        </tr>
    </thead>
    <tbody></tbody> <!-- Henkilöt listataan tähän -->
</table>

<div class="modal fade" tabindex="-1" role="dialog" id="henkiloModalDialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span id="henkiloModalTitle">Muokkaa henkilöä</span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">HenkilöID</div>
                    <div class="col-md-6"><input class="form-control" id="henkiloModal_HenkiloID" type="text" readonly></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Etunimi</div>
                    <div class="col-md-6"><input class="form-control" id="henkiloModal_Etunimi" type="text"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Sukunimi</div>
                    <div class="col-md-6"><input class="form-control" id="henkiloModal_Sukunimi" type="text"></div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="henkiloModalSaveButton">Tallenna</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Sulje</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->