@{
    ViewBag.Title = "Henkilot";
}

@section scripts {



    <script type="text/javascript">

        function päivitäHenkilolistaus() {
            $.getJSON("/henkilot/getlist", null, function (json) {
                var henkilot = JSON.parse(json);
                //alert(json);

                var html = "";
                for (var index = 0; index < henkilot.length; index++) {
                    html += "<tr>" +
                        "<td><a href='#'><span class='glyphicon glyphicon-pencil' data-id='" + henkilot[index].HenkiloId + "'></span></a></td>" +
                        "<td>" + henkilot[index].HenkiloId + "</td>" +
                        "<td>" + henkilot[index].Etunimi + "</td>" +
                        "<td>" + henkilot[index].Sukunimi + "</td>" +
                        "<td><a href='#'><span class='glyphicon glyphicon-trash' data-id='" + henkilot[index].HenkiloId + "'></span></a></td>" +
                        "</tr>\r\n";
                }

                $("#henkilotList tbody").html(html);

                // tietojen muokkaus


                $(".glyphicon-pencil").click(function () {
                    // etsitään henkilön tiedot klikatulta riviltä
                    var HenkiloId = $(this).data("id");
                    // var HenkiloId = $(this).parent().parent().next().text();
                    //alert(HenkiloId);

                    // haetaan asiakkaan tiedot id:n perusteella
                    $.getJSON("/henkilot/getsinglehenkilot/" + HenkiloId, null, function (json2) {
                        var henkilot = JSON.parse(json2);
                        console.log(henkilot);
                        // kopioidaan tiedot ikkunaan
                        $("#henkilotModal_HenkiloId").val(henkilot.HenkiloId);
                        $("#henkilotModal_Etunimi").val(henkilot.Etunimi);
                        $("#henkilotModal_Sukunimi").val(henkilot.Sukunimi);

                        // näytetään ikkuna
                        $("#henkilotModalTitle").text("Muokkaa henkilöä");
                        $("#henkilotModalDialog").modal("show");
                    });
                });

                // tietojen poisto
                $(".glyphicon-trash").click(function () {
                    // etsitään henkilön tiedot klikatulta riviltä
     
                    //var HenkiloId = $(this).parent().parent().prev().prev().prev().prev().prev().text();
                    var HenkiloId = $(this).data("id");
                    console.log("Poistoa klikattu", HenkiloId);

                    var ok = confirm("Haluatko varmasti poistaa henkilön " + HenkiloId + "?");

                    if (ok == true) {
                        $.getJSON("/henkilot/delete/" + HenkiloId, null, function (status) {
                            if (status == true) {
                                alert("Henkilö on nyt poistettu!");
                                päivitäHenkilolistaus();
                            }
                            else {
                                alert("Poistaminen ei onnistunut, yritä uudelleen!");
                            }
                        });
                    }
                });
            });
        }

        // sivun alustaminen
        $(function () {
            päivitäHenkilolistaus();

            $("#addNewHenkiloButton").click(function () {

                // tyhjennetään ikkunan tiedot
                $("#henkilotModal_HenkiloId").val("");
                $("#henkilotModal_Etunimi").val("");
                $("#henkilotModal_Sukunimi").val("");

                $("#henkilotModalTitle").text("Lisää uusi Henkilö");
                $("#henkilotModalDialog").modal("show");
            });

            $("#henkilotModalSaveButton").click(function () {
                // luetaan käyttäjän syöttämät kentät
                var details = {
                    HenkiloId: $("#henkilotModal_HenkiloId").val(),
                    Etunimi: $("#henkilotModal_Etunimi").val(),
                    Sukunimi: $("#henkilotModal_Sukunimi").val(),
                };

                $.post("/henkilot/update/", details, function (status) {
                    if (status == true) {
                        alert("Uudet tiedot tallennettu!");
                        $("#henkilotModalDialog").modal("hide");
                        päivitäHenkilolistaus();
                    }
                    else {
                        alert("Tallennus ei onnistunut, yritä uudelleen!");
                    }
                });
            });

            console.log("Alustus valmis!");
        });
    </script>

}
<h2>Henkilöt</h2>

<button class="btn btn-primary" id="addNewHenkiloButton">Lisää uusi</button>

<table class="table table-striped" id="henkilotList">
    <thead>
        <tr>
            <th></th>
            <th>Henkilo-id</th>
            <th>Etunimi</th>
            <th>Sukunimi</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


<div class="modal fade" tabindex="-1" role="dialog" id="henkilotModalDialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span id="henkilotModalTitle">Muokkaa henkilöä</span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">HenkilöID</div>
                    <div class="col-md-6"><input class="form-control" id="henkilotModal_HenkiloId" type="text" readonly></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Etunimi</div>
                    <div class="col-md-6"><input class="form-control" id="henkilotModal_Etunimi" type="text" maxlength="50"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Sukunimi</div>
                    <div class="col-md-6"><input class="form-control" id="henkilotModal_Sukunimi" type="text" maxlength="50"></div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="henkilotModalSaveButton">Tallenna</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Sulje</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
