@{
    ViewBag.Title = "Home Page1";
}

<div class="jumbotron">
    <h1>Työajanlaskentasovellus</h1>
    <p class="lead"></p>
    <p><a href="#" class="btn btn-primary btn-lg">Tämä linkki ei toimi &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="korostus">Henkilöt ovat löytäneet tiensä tietokannasta näille sivuille</h2>
        <p>
            Henkilöt löytyvät nyt listattuna Henkilöt ja Henkilöt2-alasivuilta (mikäli yhteys Azure-tietokantaan toimii).
            Henkilöt-sivu on tehty kuten ohjelmoinnin jatkokurssilla, Henkilöt2-sivu taas Visual Studion Add View -toiminnolla.
            Lisäsin tietokannan Henkilot-tauluun muutaman rivin esimerkin vuoksi.
        </p>
        <p><a class="btn btn-success" href="/Home/Henkilot">Henkilöt &raquo;</a>
        <a class="btn btn-success" href="/Home/Henkilot2">Henkilöt2 &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Työt</h2>
        <p>Jotain tekstiä...</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tunnit</h2>
        <p>Tännekkin jotain</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Työaikaraportti</h2>
        <p>
            ldfhglrighvlvbvklsfn
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>