@model IEnumerable<TyoajanlaskentaSovellus.Henkilot>

    @{
        ViewBag.Title = "Home Page1";
    }


    <div class="borderSize">

        <style>
            .borderSize {
                color: #30639F;
                margin-top: 100px;
   
            }
        </style>

        <div class="row">
            <div class="col-md-4">
                <h2>Henkilöiden tiedot<a style="margin-left: 55px" class="btn btn-default" href="/Home/Henkilot"><span class='glyphicon glyphicon-edit'></span></a></h2>

                <div class="border">
                    <table class="table table-bordered" id="henkilötListana">
                        <thead>
                            <tr>



                                <th>
                                    @Html.DisplayNameFor(model => model.Etunimi)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Sukunimi)
                                </th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>


                                    <td>
                                        @Html.DisplayFor(modelItem => item.Etunimi)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sukunimi)
                                    </td>


                                </tr>
                            }

                        </tbody> <!-- Henkilöt listataan tähän -->
                    </table>
                </div>

                <hr>

                <h2>Tunnit<a style="margin-left: 210px" class="btn btn-default" href="/Home/Tunnit"><span class='glyphicon glyphicon-edit'></span></a></h2>

                <table class="table table-bordered" id="henkilötListana">
                    <thead>
                        <tr>
                            <th>TunnitId</th>
                            <th>HenkiloId</th>
                            <th>TyöId</th>
                            <th>Tuntimäärä</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                        </tr>
                        <tr>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                        </tr>
                        <tr>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                        </tr>
                        <tr>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                        </tr>
                    </tbody>

                </table>


            </div>



            <div class="col-md-4">

                <h2>Työt<a style="margin-left: 240px" class="btn btn-default" href="/Home/Tyot"><span class='glyphicon glyphicon-edit'></span></a></h2>

                <table class="table table-bordered" id="henkilötListana">
                    <thead>
                        <tr>
                            <th>TunnitId</th>
                            <th>HenkiloId</th>
                            <th>TyöId</th>
                            <th>Tuntimäärä</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                        </tr>
                        <tr>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                        </tr>
                        <tr>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                        </tr>
                        <tr>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                        </tr>
                    </tbody>

                </table>

                <hr>

                <h2>Työtaikaraportti<a style="margin-left: 85px" class="btn btn-default" href="/Home/Raportti"><span class='glyphicon glyphicon-edit'></span></a></h2>
                <table class="table table-bordered" id="henkilötListana">
                    <thead>
                        <tr>
                            <th>TunnitId</th>
                            <th>HenkiloId</th>
                            <th>TyöId</th>
                            <th>Tuntimäärä</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                        </tr>
                        <tr>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                        </tr>
                        <tr>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                        </tr>
                        <tr>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                        </tr>

                        <tr>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                        </tr>
                        <tr>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                        </tr>
                        <tr>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                        </tr>

                    </tbody>

                </table>



            </div>

        </div>
    </div>
