@{
    ViewBag.Title = "Home Page1";
}

<div class="jumbotron">
    <h1>Työajanlaskentasovellus</h1>
    <p class="lead">Kokeillaan onnistuuko <strong>keskikokoinen</strong> päivitys</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Henkilötiedot</h2>
        <p>
            Jejejej
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Työt</h2>
        <p>Jotain tekstiä...</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tunnit</h2>
        <p>Tännekkin jotain</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Työaikaraportti</h2>
        <p>
            ldfhglrighvlvbvklsfn
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>