@{
    ViewBag.Title = "Työt";
}

@section scripts {
    <script type="text/javascript">
        function päivitäTyölista() {

            $.getJSON("/Tyot/HaeKaikkiTyot", null, function (json) {
                var tyot = JSON.parse(json);

                //console.log(json); // selaimen f12-työkalut, valitse console ja katso mitä tapahtuu
                //console.log(tyot);

                var tyotTaulukko = "";

                for (var i = 0; i < tyot.length; i++) {
                    tyotTaulukko += "<tr>" +
                        "<td><a href='#'><span class='glyphicon glyphicon-pencil' data-id='" + tyot[i].TyoId + "'></span></a></td>" +
                        "<td>" + tyot[i].TyoId + "</td>" +
                        "<td>" + tyot[i].Tyotunniste + "</td>" +
                        "<td>" + tyot[i].Kuvaus + "</td>" +
                        "<td><a href='#'><span class='glyphicon glyphicon-trash' data-id='" + tyot[i].TyoId + "'></span ></a ></td>" +
                        "</tr>\r\n";
                }

                $("#työtListana tbody").html(tyotTaulukko);

               

                //Tietojen poisto
                $(".glyphicon-trash").click(function () {

                    //etsitään asiakkaan tiedot klikatulta riviltä
                    console.log("Poistoa klikattu");
                    var tyoId = $(this).data("id");
                    //alert(tyoId);
                    var ok = confirm("haluatko varmasti poistaa työtiedot " + tyoId + "?");

                    if (ok == true) {
                        $.getJSON("/tyot/delete/" + tyoId, null, function (status) {
                            if (status == true) {
                                alert("Työtiedot on poistettu!");
                                päivitäTyölista();
                            }
                            else {
                                alert("poistaminen ei onnistunut, tarkista tiedot!");

                            }
                        });
                    }
                });

                $(".glyphicon-pencil").click(function () {

                    //etsitään asiakkaan tiedot klikatulta riviltä
                    var tyoId = $(this).data("id");
                    //alert(tyoId);
                    //haetaan asiakkaan tiedot id:n perusteella
                    $.getJSON("/tyot/getsingletyo/" + tyoId, null, function (json2) {
                        var tyot = JSON.parse(json2);

                        // kopioidaan tiedot ikkunaan
                        $("#tyoModal_TyoID").val(tyot.TyoId);
                        $("#tyoModal_Tyotunniste").val(tyot.Tyotunniste);
                        $("#tyoModal_Kuvaus").val(tyot.Kuvaus);


                        // näytetään ikkuna
                        $("#tyoModalTitle").text("Muokkaa työtä");
                        $("#tyoModalDialog").modal("show");

                    });
                });

            });
        }



        $(function () {  // sivun alustaminen, voisi olla myös näin: $(document).ready(function () {
            päivitäTyölista();
            console.log("sivu alustettu");
             $("#tyoModallisaaUusiButton").click(function () {

                    //tyhjennetään ikkunan tiedot
                    $("#tyoModal_TyoID").val(("0"));
                    $("#tyoModal_Tyotunniste").val("");
                    $("#tyoModal_Kuvaus").val("");


                    $("#tyoModalTitle").text("Lisää uusi työ");
                    $("#tyoModalDialog").modal("show");
                });

                $("#tyoModalSaveButton").click(function () {

                    var details = {
                        TyoId: $("#tyoModal_TyoID").val(),
                        Tyotunniste: $("#tyoModal_Tyotunniste").val(),
                        Kuvaus: $("#tyoModal_Kuvaus").val(),

                    };

                    $.post("/Tyot/Update/", details, function (status) {
                        if (status == true) {
                            alert("Tiedot tallennettu!");
                            $("#tyoModalDialog").modal("hide");
                            päivitäTyölista();
                        }
                        else {
                            alert("Tallennus ei onnistunut, tarkista uudelleen!");
                        }

                    });

                });
        });

    </script>
}

<button class="btn btn-info" id="tyoModallisaaUusiButton">Lisää uusi</button>
<h2>Työt</h2>

<table class="table table-striped" id="työtListana">
    <thead>
        <tr>
            <th></th>
            <th>TyöId</th>
            <th>Työtunniste</th>
            <th>Kuvaus</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody> <!-- Työt listataan tähän -->
</table>

<div class="modal fade" tabindex="-1" role="dialog" id="tyoModalDialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span id="tyoModalTitle">Muokkaa työtä</span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">TyöID</div>
                    <div class="col-md-6"><input class="form-control" id="tyoModal_TyoID" type="text" readonly></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Työtunniste</div>
                    <div class="col-md-6"><input class="form-control" id="tyoModal_Tyotunniste" type="text"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Kuvaus</div>
                    <div class="col-md-6"><input class="form-control" id="tyoModal_Kuvaus" type="text"></div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="tyoModalSaveButton">Tallenna</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Sulje</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->